<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>welcome </h1>

    <h1>Hello buddy!</h1>

    <div id="students">

    </div>

    {% comment %} {% for s in students %}
        <p>roll: {{s.roll}}</p>
        <p>name: {{s.name}}</p>
    {% endfor %} {% endcomment %}


    <script>

        var stud = document.getElementById("students")

        fetch(
            "http://127.0.0.1:8000/api/students"
        ).then(res=>{
            return res.json();
        }).then(students =>{
            console.log(students);
            for (let i =0; i<students.length; i++){
                stud.innerHTML = students[i].name; 
            }
        
        })
    </script>

</body>
</html>